body{
    background-image: url("sssss.jpg");
    background-size: cover;
    background-position: center;
    }
  .box {
    width: 36%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .heading {
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
  }
  .heading h1 {
    font-size: 28px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form label {
    margin-bottom: 10px;
  }
  .form input[type="text"],
  .form input[type="date"],
  .form input[type="email"],
  .form input[type="password"],
  .form textarea,
  .form select {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid  beige;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .form input[type="radio"] {
    margin-right: 10px;
  }
  .form textarea {
    resize: none;
  }
  .form p {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
  }
  button {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    float: left;
  }
  button:hover {
    opacity: 0.8;
  }
  .submitbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #0b992e;
    width: 20%;
    color: #f1f1f1;
    border: none;
  }
  .submitbtn:hover{
    opacity: 0.8;
  }
  .backbtn {
    padding: 10px 18px;
    background-color: #f44336;
    float: right;
    margin-right: 10px;
    width: 20%;
  }
  .container{
    padding: 16px;
    border-top: 1px solid black;
  }
  